<div class="user">
  <% pairing = Pairing.current_pairing(current_user, user) %>
  <% if pairing.present? %>
    <div><%= image_tag user.photo_name, class: "transparent" %></div>
    <ul class="pairing">
      <li><%= pairing.pair_date.strftime("%-m/%-d/%Y") %></li>
    </ul>
  <% else %>
    <div><%= link_to (image_tag user.photo_name), new_user_pairing_path(user_id: user.id) %></div>
  <% end %>
  <%= user.name %>
</div>